html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 5px 0 black;
    background: linear-gradient(120deg, rgba(129, 9, 213, 1) 0%, rgba(0, 81, 255, 1) 50%, rgba(11, 189, 226, 1) 100%);
  
}

#addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#add {
    background-color: rgb(39, 38, 38);
    color: white;
    font-size: 40px;
    font-weight: 500;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

#add:hover {
    background-color:rgb(70, 67, 67);
    transform: rotate(360deg) scale(1.3);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.newBook {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(11, 189, 226, 1);
    text-align: center;
    padding: 15px;
    height: 400px;
    transition: 0.3s ease-in-out;
    overflow: auto;
    border-radius: 5%;
    background-color: rgb(37, 37, 37);
}

.newBook.active {
    transition: 0.2s ease-in-out;
}

.inputNewBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    font-size: 20px;
    height: 40px;
    width: 300px;
    border-radius: 5px;
}


#read {
    height: 30px;
    width: 30px;
}

.addBookBtn {
    color: black;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    width: 140px;
    border: none;
}

.bookCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 400px;
    border: 1px solid rgba(11, 189, 226, 1);
    border-radius: 10px;
    padding-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.newTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 24px;
    background-color: rgb(15, 90, 252);
    width: 100%;
    height: 60px;
    border-radius: 10px 10px 0 0;
}

.readBtn {
    height: 40px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
}

.addBookBtn:hover {
    filter: brightness(90%);
}

.readBtn:hover {
    filter: brightness(90%);
}

.readBtn:active {
    transform: translate(1px, 1px);
}

.deleteBtn {
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 150px;
    border-radius: 6px;
    border: none;
}

.deleteBtn:hover {
    filter: brightness(90%);
}

.deleteBtn:active {
    transform: translate(1px, 1px);
}